.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item{
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, 0, 5);
    padding: 20px;
    border-radius: 2px;
}

#satu{
    grid-row-start: 1;
    grid-row-end: 4 ;
}

@media screen and (max-width : 768px) {
    container: {
        grid-template-columns: repeat(1, 1fr);
    };
}